doctype html
html
	head
		meta(charset='utf-8')
		title Nodejs socket io
		link(rel='stylesheet' href='static/style.css')
		script(src='static/jquery.js')
		script(src='/socket.io/socket.io.js')
		script(src='static/index.js')
	body
		div#main_content
			h1 文件读写
			div
				textarea
				<br>
				input#upload(type="button" value='保存')
